&time_control
[[[WRF_TIME_CONTROL]]]
 restart           =  .false.
/

&domains
[[[WRF_DOMAINS]]]
/

&physics
 chem_opt              =  0
[[[WRF_PHYSICS]]]
/

&fdda
/

&dynamics
[[[WRF_DYNAMICS]]]
/

&bdy_control
[[[WRF_BDY_CONTROL]]]
/

&grib2
/

&namelist_quilt
 nio_tasks_per_group  =  0
 nio_groups           =  1
/
